
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/SqueakyWheel_Layout.cshtml";
}

<section id="pricing" class="clearfix" data-scroll-index="5">

    <div class="col-md-8 col-md-offset-2">


        <ul class="plan featured wow zoomIn" data-wow-delay="0.5s" data-wow-offset="300">
            <li class="plan-name">Confirmation</li>
            <li class="plan-price overlay-gradient">Thank You!<span></span></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li class="plan-action"><a class="btn btn-sign" href="#" title="">Close</a></li>
        </ul>


    </div>
</section>
