
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/SqueakyWheel_Layout.cshtml";
}

<section class="clearfix" data-scroll-index="5">

    <div class="col-md-8 col-md-offset-2">


        <ul class="plan featured wow zoomIn" data-wow-delay="0.5s" data-wow-offset="300">
            <li class="plan-name">Confirmation</li>
            <li class="plan-price overlay-gradient">Thank You!<span></span></li>
            <li>Twitter Content</li>
            <li>Website Builder</li>
            <li>Unlimited Subdomains</li>
            <li>Full time support</li>
            <li>5 Domains (.com, .org, .eu)</li>
            <li>600GB Bandwidth</li>
            <li class="plan-action"><a class="btn btn-sign" href="#" title="">Close</a></li>
        </ul>


    </div>
</section>
