
@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/SqueakyWheel_Layout.cshtml";

    }

<h2>Testing this rendering out!</h2>

@section scripts
{
    <script>
        //testing!
    </script>
    
}

