@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/SqueakyWheel_Layout.cshtml";
}
@section style{

    <style>
        .btn-sign {
            background: #7cb28a;
            border: 1px solid #7cb28a;
            border-radius: 10px;
            color: #fff;
            padding: 10px 30px;
            font-size: 21px;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
            margin: 10px;
        }

        #map {
            width: 300px;
            height: 250px;
            margin: auto;
            margin-bottom: 10PX;
            border: 1px solid #7cb28a;
            border-radius: 10px;
        }
    </style>
}
<div class="container" ng-app="myApp" ng-controller="myCtrl as mc">
    <div id="box1" class="plan featured wow zoomIn" ng-hide="mc.box1 == true">
        <h1>What is the Issue?</h1>
        <label>
            Pot Hole <input type="checkbox" ng-model="mc.issue.categoryId1">
        </label>
        <br />
        <br />
        <label>
            Broken Light<input type="checkbox" ng-model="mc.issue.categoryId2">
        </label>

        <br />

        <button class="btn btn-sign" ng-click="mc.button1()">Next</button>

    </div>


    <div id="box2" class="plan featured wow zoomIn" ng-show="mc.box2 == false">
        <h1> Current Location</h1>
        <div id="map"></div>
        <button class="btn btn-sign" ng-click="mc.button2()">Next</button>
    </div>

    <div id="box3" class="plan featured wow zoomIn" ng-show="mc.box3 == false">
        <button class="btn btn-sign" ng-click="mc.button3()">Tweet</button>
    </div>
</div>

@section scripts{
   


@*<script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGqkmbm6q_LeaOAgHhX8jMyKOfK90rw8U&signed_in=true&callback=initMap"async defer></script>*@


<script src="~/Scripts/angular.js"></script>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope) {


        var vm = this;

        vm.item = " yo angular!";
        vm.issue = null;
        vm.box1 = false;
        vm.box2 = true;
        vm.box3 = true;
        vm.button1 = _button1;
        vm.button2 = _button2;
        render();
        function render() {
            //initMap();
        };


        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 6
            });
            var infoWindow = new google.maps.InfoWindow({ map: map });

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                                  'Error: The Geolocation service failed.' :
                                  'Error: Your browser doesn\'t support geolocation.');
        }
        function _button1() {

            vm.box1 = true;
            vm.box2 = false;
        }

        function _button2() {

            vm.box2 = true;
            vm.box3 = false;
        }

    });

</script>
    }