@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/SqueakyWheel_Layout.cshtml";
}
@section style{

    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/content/style1.css" />


    <style>
        

       h1{
           margin-top: 30px;
       }
    
        .btn-sign {
            background: #7cb28a;
            border: 1px solid #7cb28a;
            border-radius: 10px;
            color: #fff;
            padding: 10px 30px;
            font-size: 21px;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
            margin: 10px;
        }

        #map {
            width: 300px;
            height: 250px;
            margin: auto;
            margin-bottom: 10PX;
            border: 1px solid #7cb28a;
            border-radius: 10px;
        }
    </style>
}
<div class="container" ng-app="myApp" ng-controller="myCtrl as mc">
    <div id="box1" class="plan featured wow zoomIn">
        <h1>What is the Issue?</h1>

        <select id="cd-dropdown" name="cd-dropdown" class="cd-select">
            <option value="-1" selected>Choose the Issue</option>
            <option value="1" class="icon">Pot Hole</option>
            <option value="2" class="icon">Broken Light</option>

        </select>




    
        <h1> Current Location</h1>
        <div id="map"></div>
    

   

        <button class="btn btn-sign" ng-click="mc.button3()">Tweet</button>
    </div>

    

@section scripts{

<script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/js/modernizr.custom.63321.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.dropdown.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    @*    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGqkmbm6q_LeaOAgHhX8jMyKOfK90rw8U&signed_in=true&callback=initMap"async defer></script>*@


    <script src="~/Scripts/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {


            var vm = this;

            vm.item = " yo angular!";
            vm.issue = {};
            
          
            
            vm.button3 = _button3;
            vm.onSuccess = _onSuccess;
            vm.onerror = _onError;
            vm.map = initMap;

            render();
            function render() {
                vm.map();

                $(function () {
                  

                    $('#cd-dropdown').dropdown({
                        gutter: 5
                    });

                });

            };

            function initMap() {
                var myLatLng = { lat: 33.956365, lng: -118.229689 };

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 16,
                    center: myLatLng
                });

                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'hey'
                });
            }



            function _button3() {
                vm.issue.UserId = 2;
                vm.issue.categoryId = $("select").val();
                vm.issue.Lat = 33.956365;
                vm.issue.Lng = -118.229689;

                console.log(vm.issue.categoryId);

                var url = "/api/twitterAction/tweetretweet?" + "UserId=" + vm.issue.UserId + "&categoryId="
                + vm.issue.categoryId + "&Lat=" + vm.issue.Lat + "&Lng=" + vm.issue.Lng ;
                var settings = {
                    cache: false,
                    dataType: "json",
                    data: null,
                    success: vm.onSuccess,
                    error: vm.onError,
                    type: "GET"
                };

                $.ajax(url, settings);

            }

            function _onSuccess(data) {

        
                console.log(data);
            }

            function _onError(data) {

                console.log(data, "error")
            }


        });

    </script>
}